@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#heroSection .swiper-wrapper {
  height: 450px !important;
}

#projectSection .swiper-wrapper {
  height: 600px !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #fff79e;
  font-size: 1rem !important;
  padding: 5px !important;
  border: 2px solid white;
  opacity: 0.7;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #edcf55;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.2rem !important;
  color: #000 !important;
  padding: 3px !important;
}

/* Full page loading  */
@keyframes ldio-acnn3391zuk {
  0% {
    background: #f8b26a;
  }

  12.5% {
    background: #f8b26a;
  }

  12.625% {
    background: #e15b64;
  }

  100% {
    background: #e15b64;
  }
}

.ldio-acnn3391zuk div {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #e15b64;
  animation: ldio-acnn3391zuk 1s linear infinite;
}

.loadingio-spinner-blocks-4vx8eu74554 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  /* background: #ffffff; */
}

.ldio-acnn3391zuk {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-acnn3391zuk div {
  box-sizing: content-box;
}

.ldio-acnn3391zuk :nth-child(1) {
  left: 38px;
  top: 38px;
  animation-delay: 0s;
}

.ldio-acnn3391zuk :nth-child(2) {
  left: 80px;
  top: 38px;
  animation-delay: 0.125s;
}

.ldio-acnn3391zuk :nth-child(3) {
  left: 122px;
  top: 38px;
  animation-delay: 0.25s;
}

.ldio-acnn3391zuk :nth-child(4) {
  left: 38px;
  top: 80px;
  animation-delay: 0.875s;
}

.ldio-acnn3391zuk :nth-child(5) {
  left: 122px;
  top: 80px;
  animation-delay: 0.375s;
}

.ldio-acnn3391zuk :nth-child(6) {
  left: 38px;
  top: 122px;
  animation-delay: 0.75s;
}

.ldio-acnn3391zuk :nth-child(7) {
  left: 80px;
  top: 122px;
  animation-delay: 0.625s;
}

.ldio-acnn3391zuk :nth-child(8) {
  left: 122px;
  top: 122px;
  animation-delay: 0.5s;
}

/* generated by https://loading.io/ */
img.servimg {
  height: 150px;
}


span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 25px;
  height: 10px;
  border-radius: 10px;
  background: #fff79e;
}


#heroSection {
  position: relative;

  background-color: rgb(243 232 228 / 78%);
}

#heroSection video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}

#heroSection .content-hero {
  position: relative;
  z-index: 1;
}